@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", sans-serif;
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-position: center;
}

.caixa-maior {
    width: 95%;
    max-width: 450px;
    background: #000;
    opacity: 0.8;
    border-radius: 25px;
    padding: 20px;
}

.input-cidade {
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 10px;
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #fff;
    width: calc(100% - 65px);
}

.botao-busca {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    cursor: pointer;
    float: right;
}

.img-busca {
    width: 20px;
}

.caixa-media {
    margin-top: 30px;
}

.cidade {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
}

.temp {
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}

.caixa-menor {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.texto-previsao {
    color: #fff;
    margin-left: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #fff;
    margin-top: 20px;
}